.all-books-page{
    background-color: rgb(218, 210, 133);
  }
  
  .all-books {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      margin-left: 50px;
    }
    
    .book {
      align-items: center;
      border-style: solid;
      border-width: 4px;
      border-color: rgb(33, 37, 41);
      border-radius: 10px;
      margin: 10px;
      height: 350px;
      background-color:rgb(33, 37, 41);
    }
    
    .book-body {
      text-align: center;
      color:white;
    }
    .book-img-top {
      border-radius: 10px;
      
      width: 200px;
      height: 150px;
      border-style: solid;
      border-color: white;
      
    }
  
    .link {
      color: white;
      padding-top: 10px;
    }
  
  
  
    .book-author{
      margin-top: 30px;
    }
  
  
  
    .book-button{
      background-color: transparent;
      color: white;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 10px;
      margin-left: 10px;
    }

  